<div class="movieDetail">
    <img src="{{ movie.image }}">
    <div>
        <a href="/movies">Go Back</a>
        <h1>{{ movie.title }}</h1>
        <h2>{{ movie.director }}</h2>
        <h3>Stars</h3>
        <ul>
            {{#each movie.stars }}
                <li>{{ this }}</li>
            {{/each  }}
        </ul>
        <p>
            {{ movie.description }}
        </p>
        <h3>Showtimes</h3>
        <p>
            {{#each movie.showtimes }}
                {{ this }} |
            {{/each  }}
        </p>
    </div>
</div>